.LoginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
 text-align: center;
  width: calc(100vw - 70vw);
  margin: 0 auto;
  height: 100vh;

  h2{
    padding: 15px 0px;
  }

  p{
    padding-bottom: 10px;
  }
}
.Button{
  width: 100%;
}