.SideDrawer {
  position: fixed;
  width: 250px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: blueviolet;
  padding: 32px 0px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.GraduationCap{
  text-align: center;
  padding-bottom: 25px;
}
.Logo {
  margin-bottom: 32px;
}
.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
